<mat-dialog-content>
    <div *ngIf="loaderService.isLoading | async" class="loader-container">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    <ng-container *ngIf="visible">
    <div>
        <div align="center">
            <img src="https://i.ibb.co/rvNGj46/gif3.gif" alt="gif3" style="width: 200px;" border="0">
        </div>
        <h2 mat-dialog-title>
            Il tuo rifiuto è di {{data.name}}. Smaltiscilo nell'apposito contenitore!
         </h2>
    </div>
        <a href="https://zerowasteerror.ew.r.appspot.com">
            <button mat-button mat-dialog-close color="primary">Chiudi</button>
        </a>
        <button mat-button mat-dialog-close>Il risultato è errato?</button>
    </ng-container>
</mat-dialog-content>
