<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <div align="left" style="position: relative; left: 17px; bottom: -10px">
            <strong>1) Genera l'immagine di un rifiuto:</strong>
          </div>
          <div align="left" style="position: relative; top: -20px; right: -230px;"> 
            <button mat-mini-fab color="primary" (click)="getImageForm()">
              <label for="actual-btn">
                <mat-icon>autorenew</mat-icon>
              </label>
            </button>
          </div>
          <img src="{{json}}"> <h3>Campo immagine</h3>
          </div>
          <!-- "Div per aggiungere il campo waste al file json" -->
          <div [formGroup]="addLable" hidden>
            <input formControlName="waste" id="waste" name="waste" type="text" [(ngModel)]="waste">
          </div>
          <!-- fine div per inserire il campo waste al json-->
          <div align="left" style="position: relative; left: 17px; bottom: -10px">
            <strong>2) Indica il materiale del tuo rifiuto</strong>
          </div>
          <form [formGroup]="addLable" (ngSubmit)="saveData()">
          <div align="left" style="position: relative; left: 31px; bottom: -15px">
            <mat-form-field appearance="fill">
              <mat-label>Scegli un materiale</mat-label>
              <mat-select formControlName="lable" >
                <mat-option value="carta">Carta</mat-option>
                <mat-option value="Plastica">Plastica</mat-option>
                <mat-option value="Metallo">Metallo</mat-option>
                <mat-option value="Vetro">Vetro</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div align=" end" >
            <button (click)="reload()" mat-raised-button color="primary">
              Invia
            </button>
          </div>
        </form>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
