<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="700px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <div align="left" style="position: relative; left: 17px; bottom: -10px">
            <strong>1) Genera l'immagine di un rifiuto:</strong>
          </div>
          <div align="left" style="position: relative; top: -20px; right: -230px;"> 
            <button mat-mini-fab color="primary" (click)="getImageForm()" (click)="getImageForm1()">
              <label for="actual-btn">
                <mat-icon>autorenew</mat-icon>
              </label>
            </button>
          </div>
          <div *ngFor="let formImage of formImage">
            <div *ngIf="formImage.id==this.id">
              <img src="{{formImage.waste}}" style="width: 400px; height: 400px;">
            </div>
          </div>
          </div>
          <!-- "Div per aggiungere il campo id al file json" -->
           <div [formGroup]="addLable" hidden>
             <input formControlName="id" id="id" name="id" type="text" [(ngModel)]="id">
            </div>
          <!-- fine div per inserire il campo id al json-->
          <!-- Div per inserire il campo waste al json-->
          <div [formGroup]="addLable" *ngFor="let formImage of formImage" hidden>
            <div *ngIf="formImage.id==this.id">
            <input formControlName="waste" id="waste" name="waste" type="text" [(ngModel)]="formImage.waste">
           </div>
          </div>
         <!-- fine div per inserire il campo waste al json-->
         <!-- Div per inserire il campo confidence al json-->
         <div [formGroup]="addLable" *ngFor="let formImage of formImage" hidden>
          <div *ngIf="formImage.id==this.id">
          <input formControlName="confidence" id="confidence" name="confidence" type="text" [(ngModel)]="formImage.confidence">
          {{formImage.confidence}}
         </div>
        </div>
       <!-- fine div per inserire il campo waste al json-->
          <div align="left" style="position: relative; left: 17px; bottom: -10px">
            <strong>2) Indica il materiale del rifiuto</strong>
          </div>
          <form [formGroup]="addLable" (ngSubmit)="saveData()">
          <div align="left" style="position: relative; left: 31px; bottom: -15px">
            <mat-form-field #field appearance="fill">
              <mat-label>Scegli un materiale</mat-label>
              <mat-select formControlName="lable" >
                <mat-option value="carta">Carta</mat-option>
                <mat-option value="Plastica">Plastica</mat-option>
                <mat-option value="Metallo">Metallo</mat-option>
                <mat-option value="Vetro">Vetro</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div align=" end" >
            <!-- inserire il (click)="reload()" al bottone sotto-->
            <button mat-raised-button color="primary" >
              Invia
            </button>
          </div>
        </form>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
