<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="730px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <div @fade>
            {{card.title}}
            </div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div @fade>
            <div align="left" style="position: relative; left: 17px; bottom: -10px">
            <strong>1) Genera l'immagine di un rifiuto:</strong>
          </div>
          <div align="left" style="position: relative; top: -20px; right: -240px;" @fade> 
            <button mat-mini-fab color="primary" (click)="getImageForm()">
              <label for="actual-btn">
                <mat-icon>autorenew</mat-icon>
              </label>
            </button>
          </div>
            <div *ngIf="isShown">
              <img src="{{formImage.filename}}" style="width: 300px; height: 400px;">
            </div>
          </div>

          <!-- "Div per aggiungere il campo id al file json"
           <div [formGroup]="addLable" hidden>
             <input formControlName="pk" id="pk" name="pk" type="text" [(ngModel)]="pk">
            </div>
            -->
          <!-- fine div per inserire il campo id al json-->

          <!-- Div per inserire il campo waste al json
          <div [formGroup]="addLable" *ngFor="let formImage of formImage" hidden>
            <div *ngIf="formImage.id==this.id">
            <input formControlName="waste" id="waste" name="waste" type="text" [(ngModel)]="formImage.waste">
           </div>
          </div>
          -->

         <!-- fine div per inserire il campo waste al json-->
         <!-- Div per inserire il campo confidence al json
         <div [formGroup]="addLable" *ngFor="let formImage of formImage" hidden>
          <div *ngIf="formImage.id==this.id">
          <input formControlName="confidence" id="confidence" name="confidence" type="text" [(ngModel)]="formImage.confidence">
          {{formImage.confidence}}
         </div>
        </div>
        -->
       <!-- fine div per inserire il campo waste al json-->
          <div align="left" style="position: relative; left: 17px; bottom: -10px" @fade>
            <strong>2) Indica il materiale del rifiuto</strong>
          </div>
          <form [formGroup]="upDispNames">
          <div align="left" style="position: relative; left: 31px; bottom: -15px" @fade>
            <mat-form-field #field appearance="fill">
              <mat-label>Scegli un materiale</mat-label>
              <mat-select #scelta formControlName="displayNames">
                <mat-option value="CARTA">Carta</mat-option>
                <mat-option value="PLASTICA">Plastica</mat-option>
                <mat-option value="METALLO">Metallo</mat-option>
                <mat-option value="VETRO">Vetro</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </form>
          <div align=" end" @fade>
            <!-- inserire il (click)="reload()" al bottone sotto-->
            <button mat-raised-button color="primary" [disabled]="scelta.value == null" (click)="openDialog()" (click)="updateDisplayNames(this.pk)">
              Invia
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
