<div class="grid-container">
   <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows" >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title class="font1">
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <img src="https://i.ibb.co/LCDZMJz/photo-2021-12-20-13-01-19-removebg-preview.png" alt="photo-2021-12-20-13-01-19-removebg-preview" width="150" height="150" align="left" style="float: left; position: relative; bottom: 27px;">
              <div align="left" style="position: relative; bottom: -15px" class="font1">
              Zero Waste Error è la prima applicazione al mondo che consente di scansionare un rifiuto
              per smaltirlo nella maniera migliore! Clicca sul tasto "Scasiona Subito" in alto a destra per avviare rapidamente una nuova scansione!
              </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
