<mat-card>
  <mat-card-title>Scatta una foto o seleziona un'immagine dalla galleria del tuo dispositivo.
    Poi, clicca sul tasto "Carica!" e scopri dove differenziare il tuo rifiuto!
  </mat-card-title>
  <mat-card-actions>
    <button mat-button>
      <label>
        Scegli un'immagine
        <input #rifiuto type="file" (change)="onImageChanged($event)" hidden/>
      </label>
    </button>
    <button mat-button (click)="newRubbish()" [disabled]="rifiuto.value == ''">
      Carica!
    </button>
  </mat-card-actions>
</mat-card>
