<mat-card class="matcard">
  <mat-card-title>
    <!--
    <div @fade>
    Scatta una foto o seleziona un'immagine dalla galleria del tuo dispositivo.
    Poi, clicca sul tasto "Carica!" e scopri dove differenziare il tuo rifiuto!
    </div>
    -->
  </mat-card-title>
  <mat-card-actions class="matcard">
    <div align="center" @fade>
      <img [src]="url" height="400">
      <img [src]="url1" height="400">
    </div>
    <div align="center" @fade>
    <button mat-raised-button>
      <label>
        Scegli un'immagine
        <input #rifiuto type="file" (change)="onImageChanged($event)" (change)="onselectFile($event)" hidden/>
      </label>
    </button>
    <button #upload mat-flat-button style="right: -10px;"color="primary" (click)="onSend($event)" (click)="onclick()" (click)="newRubbish()" [disabled]="rifiuto.value == ''">
      {{ReadMore?"Invio":"Invio"}}
    </button>
  </div>
  <div align="end" @fade>
    <a href="https://zerowasteerror.ew.r.appspot.com">
      <button mat-button #annulla color="accent" [disabled]="rifiuto.value == ''" (click)="reset()" (click)="onclick()">Annulla</button>
    </a>
  </div>
  <div *ngIf="loaderService.isLoading | async" class="loader-container" @fade>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <!--
  <ng-container *ngIf="visible">
    <div class="center">
      <h4>
        Il tuo rifiuto è di: {{json}}
      </h4>
    </div>
  </ng-container>
-->
  </mat-card-actions>
</mat-card>
